* {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "Segoe UI", "Microsoft YaHei", sans-serif;
}
#loginbtn{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    list-style: none;
    border: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "Segoe UI", "Microsoft YaHei", sans-serif;
    background-color: transparent;
    font-size: 16px;
    TEXT-DECORATION: none;
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
}
.webtop,
.menu,
body>center>hr:nth-child(4),
body>center>hr:nth-child(11) {
    display: none;
}

body>center {
    padding: 0;
    height: 100%;
    /* background: hsla(0, 0%, 100%, 0.6); */
}

body {
    /* background-image: url("https://s2.loli.net/2023/01/16/eZMEqJrzXuWSdHF.png"); */
    background-color: white;
    background-position-x: -300px;
}

@media (min-width: 768px) {
    body>center>center:nth-child(10) {
        width: 750px;
    }
}

@media (min-width: 992px) {
    body>center>center:nth-child(10) {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    body>center>center:nth-child(10) {
        width: 1170px;
    }
}